<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the requested file or directory exists, serve it directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Otherwise, forward the request to index.php (Symfony)
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

<FilesMatch "\.(?i:pdf)$">
    ForceType application/octet-stream
    Header set Content-Disposition attachment
</FilesMatch>

