.btn.btn-primary:hover {
    border-color: #028a6a;
}

body, h1, h2, h3, h4, h5, h6, p, span, a, li, div, button, input, textarea, label, strong, em {
    color: #585c5e !important;
}

.btn.btn-outline-secondary {
    color: #585c5e !important;
    border-color: #585c5e;
}

.btn.btn-outline-secondary:hover {
    color: #ffffff !important;
    background-color: #028a6a !important; 
    border-color: #028a6a !important; 
}

.nav-link:hover {
    color: #028a6a !important; 
}

input[type="text"]:focus,
.btn.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(2, 138, 106, 0.5); 
    border-color: #028a6a !important;
}

.btn.btn-primary {
    background-color: #028a6a;
    border-color: #028a6a;
}

.btn.btn-primary:active {
    background-color: #028a6a !important;
    border-color: #028a6a !important;
    box-shadow: none; 
}

.navbar-brand {
    color: #028a6a !important;
}

.card.shadow-sm {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.hover-green:hover {
    color: #028a6a !important;
}

.footer {
    background-color: transparent; 
    color: #585c5e; 
    font-size: 14px; 
    padding: 15px 0; 
    margin-top: auto; /* Ajouté pour fixer le footer en bas */
}

.footer .container {
    border-top: 1px solid #585c5e; 
    padding-top: 15px; 
}

.footer a,
.footer span,
.footer i {
    color: #585c5e !important;
    text-decoration: none; 
}

.footer a:hover,
.footer span:hover,
.footer i:hover {
    color: #028a6a !important;
}

.footer-icons i {
    font-size: 18px; 
}

.footer-icons a {
    text-decoration: none; 
    margin: 0 10px; 
    border: none; 
}

.nav-camera.nav-camera-large-gap {
    margin-left: 90px; 
}

.btn-details {
    background-color: transparent; 
    border: none; 
    color: #000; 
    padding: 0.5rem 1rem;
    text-decoration: underline; 
}

.btn-details:hover {
    color: #028a6a !important; 
    text-decoration: underline; 
}

.btn-success {
    color: #ffffff !important; 
    background-color: #028a6a; 
    border-color: #028a6a; 
}

.btn-success:hover {
    color: #ffffff !important; 
    background-color: #026d54; 
    border-color: #026d54; 
}

.btn.btn-outline-secondary.green-border {
    border-color: #028a6a !important;
}

#suggestions {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: white; 
    border: 1px solid #ddd; 
}

#suggestions .list-group-camera {
    cursor: pointer;
    padding: 8px 12px;
    color: #585c5e; 
}

#suggestions .list-group-camera:hover {
    background-color: #028a6a; 
    color: #ffffff !important; 
    cursor: pointer;
}

.card a {
    text-decoration: none; 
    color: inherit; 
}

.card a:hover {
    color: #028a6a; 
    text-decoration: none; 
}

.btn-light {
    background-color: #d3d3d3; 
    color: #000; 
    border: none; 
}

.custom-dropdown-menu .dropdown-camera {
    background-color: transparent !important; 
    color: black !important; 
}

.custom-dropdown-menu .dropdown-camera:hover,
.custom-dropdown-menu .dropdown-camera:focus {
    background-color: transparent !important; 
    color: green !important; 
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.no-zoom .card {
    transition: none;
}

.no-zoom .card:hover {
    transform: none;
}

.hero {
    height: 75vh;
    background-size: cover;
    background-position: center;
}

.text-center .lead {
    font-size: 22px;
    font-weight: 500;
}

.col-md-8 {
    max-width: 500px;
    position: relative;
}

.input-group {
    width: 100%;
    position: relative;
}

.btn-clear {
    color: #028a6a;
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
}

#videoContainer {
    height: 500px;
    width: 100%;
}

#videoPlayer {
    object-fit: cover;
}

.card-img-top-container {
    height: 200px;
    overflow: hidden;
}

.card-img-top {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.container h2 {
    font-size: 19px !important;
    font-weight: 400; 
    color: inherit;
    text-align: center;
}

.description-title, .caracteristiques-title {
    font-size: 1.5rem; 
    font-weight: 900; 
    text-align: left;
    color: #000; 
}

.description-title {
    margin-bottom: 0.5rem; 
}

.caracteristiques-title {
    margin-top: 1rem; 
}

.description-title, .caracteristiques-title {
    font-size: 1.5rem !important; 
    font-weight: 700 !important; 
    text-align: left !important; 
    color: #585c5e !important; 
    margin-bottom: 0.5rem !important; 
}


html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    flex: 1;
}

.form-control.custom-border {
    border: 1px solid #028a6a !important;
    box-shadow: 0 0 0 0.2rem rgba(2, 138, 106, 0.25);
}

.form-control.custom-border:focus {
    border-color: #028a6a !important;
    box-shadow: 0 0 0 0.2rem rgba(2, 138, 106, 0.5);
}

/* Désactive complètement l'effet de zoom sur les cartes */
.no-zoom .card {
    transition: none !important; /* Désactive toute transition */
}

.no-zoom .card:hover {
    transform: none !important; /* Désactive le zoom au survol */
}

/* Mettre à jour le style du bouton pour correspondre au vert */
.btn.btn-primary {
    background-color: #028a6a !important; /* Appliquez votre vert personnalisé */
    border-color: #028a6a !important;
    color: #ffffff !important; /* Couleur du texte en blanc */
}

.btn.btn-primary:hover {
    background-color: #026d54 !important; /* Un vert plus foncé pour le survol */
    border-color: #026d54 !important;
}




